.mdxEditorWrapper {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply mb-2 mt-1 font-bold;
	}

	h1 {
		@apply text-2xl font-bold;
	}

	h2 {
		@apply text-xl font-bold;
	}

	h3 {
		@apply text-lg font-bold;
	}

	h4 {
		@apply text-base font-bold;
	}

	h5 {
		@apply text-sm font-bold;
	}

	h6 {
		@apply text-xs font-bold;
	}

	a {
		@apply text-text_pink no-underline;
	}

	p {
		@apply mb-4;
	}

	blockquote {
		@apply border-l-4 border-text_pink pl-4 italic text-text_grey;
	}

	ul,
	ol {
		@apply mb-2 mt-2 pl-2;
	}

	ul {
		@apply list-disc;
	}

	ol {
		@apply list-decimal;
	}

	ul ul,
	ol ul {
		@apply mb-1 mt-1 list-[circle];
	}

	ul ul ul,
	ol ul ul,
	ol ol ul,
	ul ol ul {
		@apply list-[square];
	}

	li {
		@apply mb-1;
	}

	li[data-checked='true'] {
		@apply text-text_grey line-through;
	}

	li p {
		@apply mb-0;
	}

	hr {
		@apply my-4;
	}
}

.mdxeditor {
	--accentBase: #fff2f9;
	--accentBgSubtle: #fde7f0;
	--accentBg: #fde7f0;
	--accentBgHover: #fde7f0;
	--accentBgActive: #e5007a;
	--accentLine: #e5007a;
	--accentBorder: #e5007a;
	--accentBorderHover: #e5007a;
	--accentSolid: #e5007a;
	--accentSolidHover: #e5007a;
	--accentText: #e5007a;
	--accentTextContrast: #fff;

	--baseBase: transparent;
	--baseBgSubtle: #eff1f3;
	--baseBg: #f4f6f8;
	--baseBgHover: #e3e4e4;
	--baseBgActive: #d2d8e0;
	--baseLine: #ced4de;
	--baseBorder: #d2d8e0;
	--baseBorderHover: #7587a0;
	--baseSolid: #485f7d;
	--baseSolidHover: #243a57;
	--baseText: #243a57;
	--baseTextContrast: #243a57;
	--basePageBg: #1c1d1f;
}

.dark-theme {
	--accentBase: #540e33;
	--accentBgSubtle: #540e33;
	--accentBg: #540e33;
	--accentBgHover: #540e33;
	--accentBgActive: #ff45a8;
	--accentLine: #e5007a;
	--accentBorder: #ff45a8;
	--accentBorderHover: #ff45a8;
	--accentSolid: #e5007a;
	--accentSolidHover: #ff45a8;
	--accentText: #ff45a8;
	--accentTextContrast: #fff;

	--baseBase: transparent;
	--baseBgSubtle: #262626;
	--baseBg: #222222;
	--baseBgHover: #2e2e2e;
	--baseBgActive: #333333;
	--baseLine: #4b4b4b;
	--baseBorder: #3f3f46;
	--baseBorderHover: #4b4b4b;
	--baseSolid: #909090;
	--baseSolidHover: #9e9e9e;
	--baseText: #9e9e9e;
	--baseTextContrast: #ffffff;

	--basePageBg: #000;
	color: var(--baseText);
}

.mdxEditorWrapper .mdxeditor-popup-container {
	.popupContainer {
		z-index: 100;
		--basePageBg: #1c1d1f;
	}

	z-index: 100;

	[role='dialog'] {
		background-color: var(--baseBase);
		border-color: var(--baseBorder);
		color: var(--baseText);

		border-radius: 8px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	}
}

.mdxEditorWrapper ._selectTrigger_uazmk_307 {
	@apply bg-bg_modal text-wallet_btn_text;
}

.mdxeditor-popup-container {
	z-index: 100 !important;

	border: none !important;

	[role='dialog'],
	svg {
		background-color: var(--baseBg);
		border-color: var(--baseBorder);
		color: var(--baseText);
		fill: var(--baseBorder);
	}
}

.mdxeditor-select-content {
	z-index: 100 !important;

	[role='option'] {
		background-color: var(--baseBg);
		border-color: var(--baseBorder);
		color: var(--baseText);
	}
}

.mdxeditor-select-trigger {
	background-color: var(--baseBg);
	color: var(--baseText);
}

.mdxeditor-source-editor,
.mdxeditor-diff-editor {
	.cm-editor {
		background-color: var(--baseBg);
		border-color: var(--baseBorder);
		color: var(--baseText);
	}
}

.mdxeditor-toolbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	@apply h-9 overflow-y-hidden;

	button {
		@apply flex cursor-pointer items-center justify-center;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}

.mdxeditor-toolbar>div:nth-child(2) {
	background-color: var(--baseBg) !important;
}

.mdxeditor-toolbar::-webkit-scrollbar {
	@apply hidden;
}