.markdown-body {
	color: #1f2937;
	font-size: 0.875rem;
	line-height: 1.625;
	word-wrap: break-word;
	font-family: var(--font-dmSans), system-ui, sans-serif;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 1rem;
		margin-left: 0;
		font-weight: 600;
		line-height: 1.25;
		color: #111827;
	}

	h1 {
		font-size: 2em;
		line-height: 2.5rem;
		padding-bottom: 0.3em;
		border-bottom: 1px solid #e5e7eb;
	}

	h2 {
		font-size: 1.5em;
		padding-bottom: 0.3em;
		border-bottom: 1px solid #e5e7eb;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.875em;
	}

	h6 {
		font-size: 0.85em;
	}

	a {
		color: #841a1c;
		text-decoration: none;
		transition: color 0.2s ease-in-out;

		&:hover {
			color: #841a1c;
			text-decoration: underline;
		}

		&:visited {
			color: #841a1c;
		}

		&:focus {
			outline: 2px solid #841a1c;
			outline-offset: 2px;
		}
	}

	p {
		margin-bottom: 1rem;
		margin-left: 0;
		margin-top: 0;
		padding-left: 0;
		font-size: 0.875rem;
	}

	table {
		margin: 0;
		margin-bottom: 0.5rem;
		border-color: #e5e7eb;
		font-weight: 500;
		line-height: 160%;
		color: #1f2937;
		width: 100%;
		border-collapse: collapse;

		th,
		td {
			border: 1px solid #e5e7eb;
			padding: 0.5rem;
		}

		th {
			background-color: #f9fafb;
			font-weight: 600;
			text-align: left;
		}
	}

	blockquote {
		border-left: 4px solid #841a1c;
		padding-left: 1rem;
		padding-right: 1rem;
		font-style: italic;
		color: #6b7280;
		background-color: #fef2f2;
		margin: 1rem 0;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-radius: 0 0.5rem 0.5rem 0;
	}

	ul,
	ol {
		margin-bottom: 1rem;
		margin-top: 0;
		padding-left: 2rem;
	}

	ul ul,
	ul ol,
	ol ol,
	ol ul {
		margin-bottom: 0;
		margin-top: 0;
	}

	ol {
		list-style-type: decimal;
		padding-left: 2rem;

		>li {
			position: relative;
			margin-bottom: 0.5rem;
			padding-left: 0.25rem;
			display: list-item;
		}
	}

	ul:not(ol ul) {
		list-style-type: disc;

		li::marker {
			font-size: 1rem;
		}
	}

	li {
		margin-bottom: 0.25rem;

		&::marker {
			color: #6b7280;
		}
	}

	img {
		margin: 0.25rem 0;
		box-sizing: content-box;
		max-width: 100%;
		border-radius: 0.5rem;
		border: 1px solid #e5e7eb;
		background-color: #fff;
	}

	code {
		font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
		font-size: 0.875em;
		background-color: #f3f4f6;
		padding: 0.2em 0.4em;
		border-radius: 0.25rem;
	}

	pre {
		overflow: auto;
		word-break: normal;
		border-radius: 0.5rem;
		padding: 1rem;
		font-size: 85%;
		line-height: 1.45;
		background-color: #1f2937;
		margin: 1rem 0;

		code {
			margin: 0;
			display: block;
			max-width: 100%;
			overflow: visible;
			word-break: normal;
			border: 0;
			background-color: transparent;
			padding: 0.25rem;
			line-height: normal;
			color: #e5e7eb;
		}
	}

	hr {
		margin: 1.5rem 0;
		height: 1px;
		border: 0;
		background-color: #e5e7eb;
		padding: 0;
	}

	input[type='checkbox'] {
		margin-right: 0.5rem;
		vertical-align: middle;
	}

	mark {
		border-radius: 0.25rem;
		background-color: rgba(132, 26, 28, 0.2);
		padding: 0.1em 0.2em;
	}

	a[href^='http'],
	a[href^='https'],
	a[href^='www.'],
	a[href^='mailto:'] {
		color: #841a1c;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	iframe,
	video {
		margin-bottom: 1rem;
		max-width: 100%;
		border-radius: 0.5rem;
		border: 1px solid #e5e7eb;
	}

	.video-container {
		margin: 1rem 0;

		iframe,
		video {
			aspect-ratio: 16/9;
			width: 100%;
			height: auto;
		}
	}
}