// Copyright 2019-2025 @polkassembly/polkassembly authors & contributors
// This software may be modified and distributed under the terms
// of the Apache-2.0 license. See the LICENSE file for details.

.markdown-body {
	@apply m-0 break-words p-0 text-sm leading-relaxed text-text_primary;
	font-family: var(--font-dmSans);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply mb-4 ml-0 font-semibold leading-5 text-text_primary;
	}

	h1 {
		@apply border-b border-border_grey pb-[0.3em] text-[2em] leading-10;
	}

	h2 {
		@apply border-b border-border_grey pb-[0.3em] text-[1.5em];
	}

	h3 {
		@apply text-[1.25em];
	}

	h4 {
		@apply text-[1em];
	}

	h5 {
		@apply text-[0.875em];
	}

	h6 {
		@apply text-[0.85em];
	}

	a {
		@apply text-text_pink no-underline transition-colors duration-200 ease-in-out;

		&:hover {
			@apply text-text_pink underline;
		}

		&:visited {
			@apply text-text_pink;
		}

		&:focus {
			@apply outline-2 outline-offset-2 outline-text_pink;
		}
	}

	p {
		@apply mb-4 ml-0 mt-0 pl-0 text-sm;
	}

	table {
		@apply m-0 mb-2 border-border_grey font-medium leading-[160%] text-text_primary;

		th,
		td {
			@apply border border-border_grey p-2;
		}
	}

	blockquote {
		@apply border-l-4 border-border_grey px-4 italic text-btn_secondary_text;
	}

	ul,
	ol {
		@apply mb-4 mt-0 pl-8;
	}

	ul ul,
	ul ol,
	ol ol,
	ol ul {
		@apply mb-0 mt-0;
	}

	ol {
		@apply list-decimal pl-8;

		> li {
			@apply relative mb-2 pl-1;
			display: list-item;
		}
	}

	ul:not(ol ul) {
		@apply list-disc;

		li::marker {
			@apply text-base;
		}
	}

	li {
		@apply mb-1;

		&::marker {
			@apply text-btn_secondary_text;
		}
	}

	img {
		@apply my-1 box-content max-w-full rounded border border-border_grey bg-bg_modal;
	}

	code {
		@apply font-mono;
		font-family:
			ui-monospace,
			SFMono-Regular,
			SF Mono,
			Menlo,
			Consolas,
			Liberation Mono,
			monospace;
	}

	pre {
		@apply overflow-auto break-normal rounded-md p-4 text-[85%] leading-[1.45];

		code {
			@apply m-0 block max-w-full overflow-visible break-normal border-0 bg-bg_code p-1 leading-normal;
		}
	}

	hr {
		@apply my-6 h-1 border-0 bg-border_grey p-0;
	}

	input[type='checkbox'] {
		@apply mr-2 align-middle;
	}

	mark {
		@apply rounded bg-text_pink bg-opacity-20 p-[0.1em_0.2em];
	}

	a[href^='http'],
	a[href^='https'],
	a[href^='www.'],
	a[href^='mailto:'] {
		@apply text-text_pink no-underline hover:underline;
	}

	iframe,
	video {
		@apply mb-4 max-w-full rounded border border-border_grey;
	}
}
